<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhis.dao.ChatPayStatDao">
    <!--    患者获取聊天列表-->
    <select id="getPatChatPayStatList" resultType="com.yhhis.common.entity.ChatPayStat">
        select * from chat_pay_stat where cardno=#{cardno} and patstatus=1
    </select>

    <!--    医生获取聊天列表-->
    <select id="getDocChatPayStatList" resultType="com.yhhis.common.entity.ChatPayStat">
        select * from chat_pay_stat where doccode=#{docCode} and docstatus=1
    </select>

    <!--    添加聊天付费统计-->
    <insert id="addChatPayStat" parameterType="com.yhhis.common.entity.ChatPayStat">
        insert into chat_pay_stat(cardno,docCode, payAmount,payIdent,payTime,patStatus,docStatus) values
        (#{cardno},#{docCode},#{payAmount},#{payIdent},#{payTime},1,1)
    </insert>

    <!--    获取该聊天订单的-->
    <select id="getChatPayStatId" resultType="java.util.Map">
        select id as cpsId,paytime as payTime from chat_pay_stat
        where cardno=#{cardno} and docCode=#{docCode} and  payTime=#{payTime}
    </select>

    <!--    患者改变聊天列表状态-->
    <update id="putChatPayStatPatStatus" parameterType="java.lang.String">
        update chat_pay_stat set patstatus=0 where id=#{id} and cardno=#{cardno} and doccode=#{doccode}
    </update>

    <!--    医生改变聊天列表状态-->
    <update id="putChatPayStatDocStatus" parameterType="java.lang.String">
        update chat_pay_stat set docstatus=0 where id=#{id} and cardno=#{cardno} and doccode=#{doccode}
    </update>

    <update id="chatEnd" parameterType="java.lang.String">
        update chat_pay_stat set endtime=#{endTime} where id=#{id} and cardno=#{cardno} and doccode=#{doccode}
    </update>


</mapper>