<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhis.dao.DoctorAfterChildbirthEvalDao">

    <!--    获取项目-->
    <select id="getItems" resultType="com.yhhis.common.entity.Item">
        select item_code itemCode,item_name itemName from item
    </select>

    <!--    获取评估美容-->
    <select id="getEvaluates" resultType="com.yhhis.common.entity.Evaluates" parameterType="java.lang.String">
        select eval_code evalCode,eval_context evalContext,item_code itemCode from evaluate
    </select>

    <!--    获取处理原则-->
    <select id="getHandlers" resultType="com.yhhis.common.entity.Handlers" parameterType="java.lang.String">
            select handler_code handlerCode,handler_context handlerContext,
            item_code itemCode,eval_code evalCode from handlers
    </select>

    <!--    获取评估的选项-->
    <select id="getAssessContexts" resultType="com.yhhis.common.entity.AssessContext" parameterType="java.lang.String">
      SELECT DISTINCT
	leav_hos_bef_pg leavHosBefPg,
	chail_aft_senven chailAftSeven,
	chail_aft_fourteen chailAftFourteen,
	chail_aft_twenty_eight chailAftTwentyEight,
	d.assess_code assessCode,
	a.item_code itemCode,
	b.eval_code evalCode,
	c.handler_code handlerCode
       FROM  item a,evaluate b,handlers c,assess_context d WHERE
       a.item_code=d.item_code AND b.eval_code=c.eval_code AND c.handler_code=d.handler_code
    </select>

    <!--    添加医生评估详情-->
    <insert id="addDoctorEval" parameterType="com.yhhis.common.entity.DoctorEval">
        insert into doctor_eval(item_name,eval_context,handlers_context,leav_hos_bef_pg,chail_aft_senven,
        chail_aft_fourteen,chail_aft_twenty_eight,create_time,doctor_code,cardno)
        values
        (#{itemName},#{evalContext},#{handlerContext},#{leavHosBefPg},#{chailAftSeven},#{chailAftFourteen},#{chailAftTwentyEight},now(),#{doctorCode},#{cardno})
    </insert>


    <!--    获取所有的医生评估详情-->
    <select id="getDoctorEvalAll" resultType="com.yhhis.common.entity.DoctorEval">

        select item_name itemName,eval_context evalContext,handlers_context handlerContext,leav_hos_bef_pg leavHosBefPg,chail_aft_senven chailAftSeven,
        chail_aft_fourteen chailAftFourteen, chail_aft_twenty_eight chailAftTwentyEight,date_format(create_time,'%Y-%c-%d %h:%i:%s') createTime,doctor_code doctorCode,cardno
         from doctor_eval

    </select>

    <!--    通过患者卡号和创建时间获取医生评估-->
    <select id="getDoctorEvalByCardnoAndCreateTime" resultType="com.yhhis.common.entity.DoctorEval"
            parameterType="java.lang.String">
        select item_name itemName,eval_context evalContext,handlers_context handlerContext,leav_hos_bef_pg leavHosBefPg,chail_aft_senven chailAftSeven,
        chail_aft_fourteen chailAftFourteen, chail_aft_twenty_eight chailAftTwentyEight,date_format(create_time,'%Y-%c-%d %h:%i:%s') createTime,doctor_code doctorCode,cardno
         from doctor_eval
             where cardno=#{cardno}
    </select>

</mapper>