<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhhis.dao.WxUserDao">
    <resultMap id="BaseResultMap" type="com.yhhis.common.entity.WxUser">
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR"/>
        <result column="isdoctor" property="isdoctor" jdbcType="INTEGER"/>
    </resultMap>
    <parameterMap type="com.yhhis.common.entity.WxUser" id="insertMap">
        <parameter property="openid"/>
        <parameter property="nickname"/>
        <parameter property="sex"/>
        <parameter property="country"/>
        <parameter property="province"/>
        <parameter property="city"/>
        <parameter property="headimgurl"/>
    </parameterMap>
    <!-- 根据openid 获取信息 -->
    <select id="getUser" resultType="com.yhhis.common.entity.WxUser" parameterType="java.lang.String">
 	select * from wxuser where openid=#{openid}
   </select>
    <!-- 更新微信用户信息 包括openid-->
    <update id="updateUser" parameterType="com.yhhis.common.entity.WxUser">
      update wxuser set openid=#{openid},sex=#{sex},country=#{country},province=#{province},city=#{city},headimgurl=#{headimgurl},
isonline=#{isonline},isdoctor=#{isdoctor},nickname=#{nickname} where openid=#{openid}
  	</update>

    <insert id="addUser" parameterType="com.yhhis.common.entity.WxUser">
      insert into wxuser(openid, sex, country, province, city, headimgurl, isonline, isdoctor, nickname) 
      values(#{openid},#{sex},#{country},#{province},#{city},#{headimgurl},#{isonline},#{isdoctor},#{nickname})
  	</insert>
</mapper>