<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhhis.dao.DisInformationDao">
    <sql id="Base_List">
	  openid,cardno,username,sex,phone,id_no,description_info,doc_name,doc_code,illness_time,now_time
    </sql>

    <!-- 提交患者患病信息 -->
    <insert id="insertInformaintion" parameterType="com.yhhis.common.entity.DisInformation">
        insert into dis_information(openid,cardno,username,sex,phone,id_no,description_info,doc_name,doc_code,dis_information.`
illness_time`,now_time)
        values
        (#{openid},#{cardno},#{username},#{sex},#{phone},#{idno},#{descriptionInfo},#{docname},#{doccode},#{illnessTime},NOW())
--         INSERT INTO `hiscloud`.`dis_information` (`openid`, `cardno`, `username`, `sex`, `phone`, `id_no`, `description_info`, `doc_name`, `doc_code`, `
--         illness_time`) VALUES (#{openid},#{cardno},#{username},#{sex},#{phone},#{idno},#{descriptionInfo},#{docname},#{doccode},#{illnessTime})
    </insert>
</mapper>