<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhhis.dao.INoDao">
    <select id="getNo" resultSets="no" resultType="int"
            parameterType="java.lang.String">
		select max(no) from numbers where type=#{type}
	</select>
    <update id="updateNo">
		update numbers set no=case when no>=#{max} then 1 else no+1 end where
		type=#{type}
	</update>
    <insert id="newNo" parameterType="java.lang.String">
		insert into numbers (type,no) values (#{type},2);
	</insert>
</mapper>